<div class='component-content'>
        <div class='lefthalf'>
          <span class='component-title'>[{{title}}] </span>
          <span><a routerLink='/review/edit'>
              <img id='createnew' width='20' height='20' src='assets/add-icon.png' title='Add New'></a>
          </span>
        </div>
      </div>
      <p *ngIf='!requests'>Loading ...</p>
      <table class="table table-sm" *ngIf='requests'>
        <tr>
          <th class='table-secondary'></th>
          <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold"
              (click)="sortBy('id')"><u>Request ID</u></a></th>
          <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold"
              (click)="sortBy('userId')"><u>User</u></a></th>
          <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold"
              (click)="sortBy('description')"><u>Description</u></a></th>
          <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold"
              (click)="sortBy('justification')"><u>Justification</u></a></th>
          <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold"
              (click)="sortBy('deliverymode')"><u>Delivery Mode</u></a></th>
          <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold"
              (click)="sortBy('status')"><u>Status</u></a></th>
          <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold"
              (click)="sortBy('total')"><u>Total</u></a></th>
          <th class="table-secondary btn-link"><a class='btn btn-link font-weight-bold'>Privilege</a></th>
          <th class="table-secondary btn-link"><a class='btn btn-link font-weight-bold'>Action</a></th>
        </tr>
        <tr *ngFor='let request of requests'>
          <td></td>
          <td>{{request.id}}</td>
          <td>{{request.user.username}}</td>
          <td>{{request.description}}</td>
          <td>{{request.justification}}</td>
          <td>{{request.deliveryMode}}</td>
          <td>{{request.status }}</td>
          <td>{{request.total | currency}}</td>
          <td>{{request.privilege}}</td>
          <td class='actions'>
            <a routerLink='/review/edit/{{request.id}}' class='btn btn-primary'>Review</a>
            <!-- <a *ngIf='loggedInUser.admin' routerLink='/request/edit/{{request.id}}' class='actionIcon'><img src='assets/pencil-icon.png' width='20' height='20' title='Edit'></a> -->
          </td>
        </tr>
      </table>